# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Unwanted files and folders
psarc/Debug
psarc/Release
.vs
*.exe
*.opensdf
*.suo
*.sdf
*.iobj
*.ipdb
*.pdb